/* Fonts */
@import "typography.css";

/* Vars */
:root {
  --body-copy: "Lora", serif;
  --condensed-copy: "Barlow Semi Condensed", sans-serif;
  --sans-serif: "Rubik", sans-serif;
  --highlight: "#000000";
}

/* Base */
body {
  margin: 0;
  padding: 0;
  font-family: var(--body-copy);
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.active {
  text-decoration: underline;
}

/* Components/etc */
@import "article.css";
@import "layout.css";
@import "article.css";
@import "bio.css";
@import "menu.css";
@import "publication.css";
